header {
  border-bottom: 4px solid black;
  font-style: bold;
  margin: 0px;
}
body {
  font-family: "Alumni Sans", sans-serif, "Kaisei Tokumin", serif;
}
header h1 {
  font-weight: 900;
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 60px;
}
header h2 {
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  /* margin-bottom: 30px; */
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 15px;
}
.iconDiv h3 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-right: 130px;
  margin-bottom: 15px;
  color: white;
}
.projectText h3 {
  font-size: 30px;
}
p {
  font-size: 25px;
  font-weight: 900;
}
.aboutMe1 {
  margin: 10px 30px;
}
.headerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutMeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.aboutMeRow {
  flex: 1;
}
.eiffelTowerPic {
  width: 50%;
  height: auto;
  background-color: rgba(208, 208, 208, 0.721);
  padding: 60px;
}

.aboutMe {
  margin-right: 100px;
}

footer {
  border-top: 4px solid black;
  height: 200px;
  width: auto;
}
.iconDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(82, 82, 82);
  padding: 40px 10px;
}
.iconDiv {
  flex: 2;
  margin: 30px 20px;
}
.iconDiv img {
  width: 50%;
  height: auto;
}
.projectDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-top: 10px;
}
/* .projectRow {
  flex: 4;
} */
.projectRow img {
  width: 100;
  margin: 0;
  padding: 0;
  height: 400px;
}

#ecommerce {
  border: 3px solid black;
  height: 393px;
}
.projectText {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.nav a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.contactMeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 20px;
}
#cssImg {
  margin-left: 30px;
}
.contactMeRow a {
  font-size: 25px;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}
a {
  cursor: pointer;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  font-size: 100px;
}

a:active {
  color: blue;
}
